.fixed-size {
    height: 200px; /* Ajusta la altura según lo que necesites */
    object-fit: cover; /* Asegura que las imágenes mantengan proporción sin deformarse */
}


/* Cambia el color de las flechas del carrusel a negro */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: transparent;
  filter: invert(100%); /* Cambia de blanco a negro */
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%; /* Opcional: ajusta el área clickeable */
}



.banner {
  position: relative;
  height: 40vh; /* Ajusta la altura según lo necesario */
  overflow: hidden;
}

.banner img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}


.btn-primary {
    background-color: #3190cd !important;
}

.btn-primary:hover {
    background-color: #103a71 !important;
}