/* Elimina las flechas del input number en navegadores modernos */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Para Firefox */
}

.botnaranja {
  background-color:#fc8341 !important; 
  color:white;
}

.botnaranja:hover {
  background-color:#f6671a !important; 
  
}

.botazul{
  background-color:white !important; 
  color: #0066ff !important;
  border-color: #0066ff !important;
  margin-left: 5px;
}

.botazul:hover {
  background-color:#0066ff !important; 
  color: white !important;
  
}